.header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    height:70px;

    padding:0 40px;

    background:rgba(13,13,13,.92);

    backdrop-filter:blur(12px);

    display:flex;

    justify-content:space-between;

    align-items:center;

    z-index:9999;

    transition:.3s;

}

.logo{

    font-size:32px;

    font-weight:bold;

}

.logo a{

    color:#009687;

}

.menu{

    display:flex;

    gap:28px;

}

.menu a{

    color:white;

    font-size:15px;

    transition:.25s;

}

.menu a:hover{

    color:#009687;

}

.header-right{

    display:flex;

    align-items:center;

    gap:10px;

}

#campoBusca{

    width:260px;

    height:40px;

    border:none;

    border-radius:25px;

    padding:0 18px;

    background:#222;

    color:white;

    outline:none;

}

#btnBusca{

    width:42px;

    height:42px;

    border:none;

    border-radius:50%;

    background:#009687;

    cursor:pointer;

    font-size:18px;

}
